<h1>Checkpoint Angular</h1>
<h2>Guilherme Tagawa rm98306</h2>

<section class="flex">


    <div class="exercicio">
        <h2>Exercicio 1</h2>
        <app-meses></app-meses>
    </div>


    <div class="exercicio">
        <h2>Exercicio 2</h2>
        <app-compras></app-compras>
    </div>


    <div class="exercicio">
        <h2>Exercicio 3</h2>
        <app-idade></app-idade>
    </div>

    <div class="exercicio">
        <h2>Exercicio 4</h2>
        <app-lista2></app-lista2>
    </div>


    <div class="exercicio">
        <h2>Exericio 5</h2>
        <app-status></app-status>
    </div>

</section>

<section class="flex">

    <div class="exercicio">
        <h2>Exercicio 6</h2>
        <app-usuario></app-usuario>
    </div>

    <div class="exercicio">
        <h2>Exercicio 7</h2>
        <app-valor></app-valor>
    </div>

    <div class="exercicio">
        <h2>Exercicio 8</h2>
        <app-login></app-login>
    </div>

    <div class="exercicio">
        <h2>Exercicio 9</h2>
        <app-produto></app-produto>
    </div>

    
</section>
<section class="flex">
    <div class="exercicio">
        <h2>Exercicio 10</h2>
        <app-calculadora></app-calculadora>
    </div>
</section>